// 底部
div.footer
    div.intro
        h3 公司简介
        p.intro 湖南华电郴州风力发电有限公司于2009年6月11日注册成立，是中国华电集团福新能源股份有限公司全资企业，是湖南省首家建设投产的风力发电公司。公司除风电之外，以国家的产业政策和可再生能源发展规划为指导，以认真履行“经济责任、政治责任、社会责任”为己任，致力于建设分布式能源、太阳能、生物质发电等新兴能源多元化的、具有特色的国内一流新能源公司，为社会奉献更多的清洁能源公司。
    div.contact
        h3 联系我们
        div.phone_adress
            p.phone
                i.icon.iconfont.icon-phone
                span 0731-8892707
            p.adress
                i.icon.iconfont.icon-location
                span 湖南省长沙市天心区芙蓉南路三段中信凯旋蓝岸
