// 底部
div.footer
    div.intro
        h3 公司简介
        p.intro 湖南华电郴州风力发电有限公司全体员工以国家的产业政策和可再生能源发展规划为指导，求实、创新、敬业、奉献，以认真履行“经济责任、政治责任、社会责任”为己任，致力于建设多元化的、具有特色的国内一流新能源公司，为社会奉献更多的清洁能源。
    div.contact
        h3 联系我们
        div.phone_adress
            p.phone
                i.icon.iconfont.icon-phone
                span 0731-88892707
            p.adress
                i.icon.iconfont.icon-location
                span 湖南省长沙市天心区芙蓉南路三段中信凯旋蓝岸
div.backnumb 湘ICP备17014849号