// 头部logo和子公司
div.header
    div.logo
      img.logo(src='/public/images/logo1@2x.png')
      ul.branches
          li
            a(href="#") 湖南华电郴州风力发电有限公司
          li
            a(href="#") 湖南华电福新太平里风力发电有限公司
          li
            a(href="#") 湖南华电福新油麻风力发电有限公司
    // 导航菜单
    div.nav-frame
        div.nav
            div.wrap
                div.background
                    div.padding
                    div.board
                dl.item
                    dt
                        a(href="/") 首页
                dl.item
                    dt
                        a 公司概况
                    dd
                        a(href="speech") 总经理致辞
                    dd
                        a(href="about") 公司简介
                    dd
                        a(href="leadership") 领导班子
                    dd
                        a(href="distribution") 业务及分布

                dl.item
                    dt
                        a 机构设置
                    dd
                        a 综合管理部
                    dd
                        a 财务资产部
                    dd
                        a 工程技术部
                    dd
                        a 计划发展部
                    dd
                        a 生产运营部
                dl.item
                    dt
                        a 新闻中心
                    dd
                        a(href="importance") 公司要闻
                    dd
                        a(href="basenews") 基层新闻
                    dd
                        a(href="trends") 行业动态
                dl.item
                    dt
                        a 企业文化
                    dd
                        a(href="culture") 文化体系
                    dd
                        a(href="rules") 员工守则
                    dd
                        a(href="photos") 电厂美景
                dl.item
                    dt
                        a 人力资源
                    dd
                        a(href="hire") 人才招聘
                    dd
                        a(href="training") 教育培训
                dl.item
                    dt
                        a 联系我们
            div.search-widget
                input(type='text')
                span.searchBtn
                span.phoneNumber
                    i.icon.iconfont.icon-phone(style='font-weight:300')
                    |0731-88892707
