// 头部logo和子公司
div.header
    div.logo
      img.logo(src='/public/images/logo1@2x.png')
      ul.branches
          li
            a(href="#") 湖南华电郴州风力发电有限公司
          li
            a(href="#") 湖南华电福新太平里风力发电有限公司
          li
            a(href="#") 湖南华电福新油麻风力发电有限公司
    // 导航菜单
    ul.nav
        li.item 首页
        li.item 公司概况
        li.item 机构设置
        li.item 新闻中心
        li.item 企业文化
        li.item 人力资源
        li.item 联系我们
        li.searchBox
            input(type='text')
            span.searchBtn
            span.phoneNumber
    div.navDetail
        ul.column
        ul.column
            li.item 总经理致辞
            li.item 公司简介
            li.item 领导班子
            li.item 业务及分布
        ul.column
            li.item 综合管理部
            li.item 财务资产部
            li.item 工程技术部
            li.item 计划发展部
            li.item 生产运营部
        ul.column
            li.item 公司要闻
            li.item 基层新闻
            li.item 行业动态
        ul.column
            li.item 文化体系
            li.item 员工守则
            li.item 电厂美景
        ul.column
            li.item 人才招聘
            li.item 教育培训
        ul.column
        span.padding