// 头部logo和子公司
div.header
    div.logo
      img.logo(src='/public/images/logo1@2x.png')
      ul.branches
          li
            a(href="#") 湖南华电郴州风力发电有限公司
          li
            a(href="#") 湖南华电福新太平里风力发电有限公司
          li
            a(href="#") 湖南华电福新油麻风力发电有限公司
    // 导航菜单
    div.nav
        div.background
            div.padding
            div.board
        dl.item
            dt
                a 首页
        dl.item
            dt
                a 公司概况
            dd
                a 总经理致辞
            dd
                a 公司简介
            dd
                a 领导班子
            dd
                a 业务及分布

        dl.item
            dt
                a 机构设置
            dd
                a 综合管理部
            dd
                a 财务资产部
            dd
                a 工程技术部
            dd
                a 计划发展部
            dd
                a 生产运营部
        dl.item
            dt
                a 新闻中心
            dd
                a 公司要闻
            dd
                a 基层新闻
            dd
                a 行业动态
        dl.item
            dt
                a 企业文化
            dd
                a 文化体系
            dd
                a 员工守则
            dd
                a 电厂美景
        dl.item
            dt
                a 人力资源
            dd
                a 人才招聘
            dd
                a 教育培训
        dl.item
            dt
                a 联系我们
        div.searchBox.item
            dt
                input(type='text')
                span.searchBtn
                span.phoneNumber
