extends layout

append head
  link(rel='stylesheet', href='/public/stylesheets/header.css')
  link(rel='stylesheet', href='/public/stylesheets/footer.css')
  link(rel='stylesheet', href='/public/stylesheets/index.css')
append bottom
  script(src='/public/javascripts/index.js')
block header
  include header
block content
  div.carousel_frame
    div.pice(style="background-image:url(/public/images/banner1@2x.jpeg)")
      div.text
        .title 风起云涌
        .subtitle 湖南郴州风力发电有限公司
    div.pice(style="background-image:url(/public/images/banner2@2x.jpeg)")
      div.text
        .title 风起云涌
        .subtitle 湖南郴州风力发电有限公司
    div.pice(style="background-image:url(/public/images/banner3@2x.jpeg)")
      div.text
        .title 风起云涌
        .subtitle 湖南郴州风力发电有限公司
    div.pice(style="background-image:url(/public/images/banner4@2x.jpeg)")
      div.text
        .title 风起云涌
        .subtitle 湖南郴州风力发电有限公司
    div.pice(style="background-image:url(/public/images/banner5@2x.jpeg)")
      div.text
        .title 风起云涌
        .subtitle 湖南郴州风力发电有限公司
  div.news_frame
    div.news_carousel
      div.pice(style="background-image:url(/public/images/news1@2x.jpeg)")
        div.bottom-text 华电集团李庆奎董事长在郴州宜章太平里风电场检查指导工作
      div.pice(style="background-image:url(/public/images/news2@2x.jpeg)")
        div.bottom-text 华电集团李庆奎董事长在郴州宜章太平里风电场检查指导工作
      div.pice(style="background-image:url(/public/images/news3@2x.jpeg)")
        div.bottom-text 华电集团李庆奎董事长在郴州宜章太平里风电场检查指导工作
      div.pice(style="background-image:url(/public/images/news4@2x.jpeg)")
        div.bottom-text 华电集团李庆奎董事长在郴州宜章太平里风电场检查指导工作
      div.pice(style="background-image:url(/public/images/news5@2x.jpeg)")
        div.bottom-text 华电集团李庆奎董事长在郴州宜章太平里风电场检查指导工作
    div.news_list
      div.header
        span.h3 公司要闻
        span.h5 MORE
      ul.list
        li.item 湖南华电郴州风力发电有限公司于2009年6月11日注册
        li.item 湖南省首家建设投产的风力发电公司
        li.item 015年8月5日已取得湖南省永兴县发改委核准批复
        li.item 国家的产业政策和可再生能源发展规划为指导
        li.item 湖南省首家建设投产的风力发电公司
  div.intro_frame
    div.card
      div.head(style='background-image:url(/public/images/img11@2x.jpeg)')
      div.title 总经理致辞
      div.intro 公司仰天湖36.3MW风电项目于2008年8月通过湖南省发展和改革委员会核准批复
      span.plus
    div.card
      div.head(style='background-image:url(/public/images/img22@2x.jpeg)')
      div.title 公司简介
      div.intro 公司仰天湖36.3MW风电项目于2008年8月通过湖南省发展和改革委员会核准批复
      span.plus
    div.card
      div.head(style='background-image:url(/public/images/img22@2x.jpeg)')
      div.title 领导班子
      div.intro 公司仰天湖36.3MW风电项目于2008年8月通过湖南省发展和改革委员会核准批复
      span.plus
    div.card
      div.head(style='background-image:url(/public/images/img44@2x.jpeg)')
      div.title 业务及分布
      div.intro 公司仰天湖36.3MW风电项目于2008年8月通过湖南省发展和改革委员会核准批复
      span.plus
  div.pictures_frame
    div.pic(style='background-image:url(/public/images/img1@2x.jpeg)')
      span.title 文化体系
    div.pic(style='background-image:url(/public/images/img2@2x.jpeg)')
      span.title 员工守则
    div.pic(style='background-image:url(/public/images/img3@2x.jpeg)')
      span.title 电厂美景
block footer
  include footer