extends ../layout

append head
  link(rel='stylesheet', href='/public/stylesheets/header.css')
  link(rel='stylesheet', href='/public/stylesheets/footer.css')
  link(rel='stylesheet', href='/public/stylesheets/common.css')
append bottom
  //script(src='/public/javascripts/index.js')
block header
  include ../header
block content
  .content_block
    img.banner(src='/public/images/wenhuatixi@2x.jpg')
    .content-text.column1
      p 湖南华电郴州风力发电有限公司文化根植于中华民族的文明沃土，传承于湖湘文化之精髓，弘扬华电文化的优良传统，在总结公司管理实践的基础上，吸收科学管理思想，形成以崇尚品格为核心，以追求和谐为理论的体系。
      br
      img(src="/public/images/consturcture.png" style="width:100%")

block footer
  include ../footer