extends ../layout

append head
  link(rel='stylesheet', href='/public/stylesheets/header.css')
  link(rel='stylesheet', href='/public/stylesheets/footer.css')
  link(rel='stylesheet', href='/public/stylesheets/common.css')
append bottom
  //script(src='/public/javascripts/index.js')
block header
  include ../header
block content
  .content_block
    img.banner(src='/public/images/cimg1.jpg')
    p.content-title 文化体系
    p.content-title 乘风远航 勇攀新高
    .content-text
      p 湖南华电郴州风力发电有限公司在风电领域的不断探索与实践中，通过自己的创业、创新、创优，已总结出一套完整的风电开发、建设、运行管理经验；培养、锻炼了一支思想过硬，技术精湛，作风顽强的员工队伍。公司始终遵循“求实创新，把一切做得更好”的企业精神，处处体现以人为本的企业文化，开辟了一条属于自己闪亮的金光大道。为了把企业继续做强做大，2016年7月，公司在充分论证的基础上大胆投资建设华电郴州油麻风电场，规划装机容量为4.6万千瓦，年上网电量约9150万度。每年可节约标煤3万吨。
      p 大风起兮云飞扬。湖南华电郴州风力发电有限公司全体员工以国家的产业政策和可再生能源发展规划为指导，求实、创新、敬业、奉献，以认真履行“经济责任、政治责任、社会责任”为己任，致力于建设多元化的、具有特色的国内一流新能源公司，为社会奉献更多的清洁能源。
      p 湖南华电郴州风力发电有限公司在风电领域的不断探索与实践中，通过自己的创业、创新、创优，已总结出一套完整的风电开发、建设、运行管理经验；培养、锻炼了一支思想过硬，技术精湛，作风顽强的员工队伍。公司始终遵循“求实创新，把一切做得更好”的企业精神，处处体现以人为本的企业文化，开辟了一条属于自己闪亮的金光大道。为了把企业继续做强做大，2016年7月，公司在充分论证的基础上大胆投资建设华电郴州油麻风电场，规划装机容量为4.6万千瓦，年上网电量约9150万度。每年可节约标煤3万吨。
      p 大风起兮云飞扬。湖南华电郴州风力发电有限公司全体员工以国家的产业政策和可再生能源发展规划为指导，求实、创新、敬业、奉献，以认真履行“经济责任、政治责任、社会责任”为己任，致力于建设多元化的、具有特色的国内一流新能源公司，为社会奉献更多的清洁能源。
      p 拓平川，竞苍穹，风机耸立接云天；青山碧水，遥映今日宜章！


block footer
  include ../footer