extends ../layout

append head
  link(rel='stylesheet', href='/public/stylesheets/header.css')
  link(rel='stylesheet', href='/public/stylesheets/footer.css')
  link(rel='stylesheet', href='/public/stylesheets/common.css')
  link(rel='stylesheet', href='/public/stylesheets/imagePlayer.css')
append bottom
  script(src='/public/javascripts/imagePlayer.js')
  script var imgplayer = imagePlayer(document.querySelectorAll('.content_block.flex.col-4>img'));
block header
  include ../header
block content
  .content_block.flex.col-4
    img.thumbs(onclick="imgplayer.openImage(1)" src="/public/images/photos/mj_01.jpg")
    img.thumbs(onclick="imgplayer.openImage(2)" src="/public/images/photos/mj_02.jpg")
    img.thumbs(onclick="imgplayer.openImage(3)" src="/public/images/photos/mj_03.jpg")
    img.thumbs(onclick="imgplayer.openImage(4)" src="/public/images/photos/mj_04.jpg")
    img.thumbs(onclick="imgplayer.openImage(5)" src="/public/images/photos/mj_05.jpg")
    img.thumbs(onclick="imgplayer.openImage(6)" src="/public/images/photos/mj_06.jpg")
    img.thumbs(onclick="imgplayer.openImage(7)" src="/public/images/photos/mj_07.jpg")
    img.thumbs(onclick="imgplayer.openImage(8)" src="/public/images/photos/mj_08.jpg")
    img.thumbs(onclick="imgplayer.openImage(9)" src="/public/images/photos/mj_09.jpg")
    img.thumbs(onclick="imgplayer.openImage(10)" src="/public/images/photos/mj_10.jpg")
    img.thumbs(onclick="imgplayer.openImage(11)" src="/public/images/photos/mj_11.jpg")
    img.thumbs(onclick="imgplayer.openImage(12)" src="/public/images/photos/mj_12.jpg")
    img.thumbs(onclick="imgplayer.openImage(13)" src="/public/images/photos/mj_13.jpg")
    img.thumbs(onclick="imgplayer.openImage(14)" src="/public/images/photos/mj_14.jpg")
    img.thumbs(onclick="imgplayer.openImage(15)" src="/public/images/photos/mj_15.jpg")
    img.thumbs(onclick="imgplayer.openImage(16)" src="/public/images/photos/mj_16.jpg")
    img.thumbs(onclick="imgplayer.openImage(17)" src="/public/images/photos/mj_17.jpg")
    img.thumbs(onclick="imgplayer.openImage(18)" src="/public/images/photos/mj_18.jpg")
    img.thumbs(onclick="imgplayer.openImage(19)" src="/public/images/photos/mj_19.jpg")
    img.thumbs(onclick="imgplayer.openImage(20)" src="/public/images/photos/mj_20.jpg")
block footer
  include ../footer
