extends ../layout

append head
  link(rel='stylesheet', href='/public/stylesheets/header.css')
  link(rel='stylesheet', href='/public/stylesheets/footer.css')
  link(rel='stylesheet', href='/public/stylesheets/common.css')
append bottom
  script(src='/public/javascripts/modal.js')
block header
  include ../header
block content
  .content_block.flex.col-4
    img.thumbs(onclick="showBigImage()" src="/public/images/photos/cimg5.png")
    img.thumbs(onclick="showBigImage()" src="/public/images/photos/cimg6.png")
    img.thumbs(onclick="showBigImage()" src="/public/images/photos/cimg7.png")
    img.thumbs(onclick="showBigImage()" src="/public/images/photos/cimg8.png")
    img.thumbs(onclick="showBigImage()" src="/public/images/photos/Rectangle 2 Copy 2.png")
    img.thumbs(onclick="showBigImage()" src="/public/images/photos/Rectangle 2 Copy 3.png")
    img.thumbs(onclick="showBigImage()" src="/public/images/photos/Rectangle 2 Copy 4.png")
    img.thumbs(onclick="showBigImage()" src="/public/images/photos/Rectangle 2 Copy 5.png")
    img.thumbs(onclick="showBigImage()" src="/public/images/photos/Rectangle 2 Copy 6.png")
    img.thumbs(onclick="showBigImage()" src="/public/images/photos/Rectangle 2 Copy 7.png")
    img.thumbs(onclick="showBigImage()" src="/public/images/photos/Rectangle 2 Copy 8.png")
    img.thumbs(onclick="showBigImage()" src="/public/images/photos/Rectangle 2 Copy 9.png")
    img.thumbs(onclick="showBigImage()" src="/public/images/photos/Rectangle 2 Copy 10.png")
    img.thumbs(onclick="showBigImage()" src="/public/images/photos/Rectangle 2 Copy 11.png")
    img.thumbs(onclick="showBigImage()" src="/public/images/photos/Rectangle 2 Copy 12.png")
    img.thumbs(onclick="showBigImage()" src="/public/images/photos/Rectangle 2 Copy 13.png")
    img.thumbs(onclick="showBigImage()" src="/public/images/photos/Rectangle 2 Copy 14.png")
    img.thumbs(onclick="showBigImage()" src="/public/images/photos/Rectangle 2 Copy 15.png")
    img.thumbs(onclick="showBigImage()" src="/public/images/photos/Rectangle 2 Copy 16.png")
    img.thumbs(onclick="showBigImage()" src="/public/images/photos/Rectangle 2 Copy.png")

block footer
  include ../footer