extends ../layout

append head
  link(rel='stylesheet', href='/public/stylesheets/header.css')
  link(rel='stylesheet', href='/public/stylesheets/footer.css')
  link(rel='stylesheet', href='/public/stylesheets/common.css')
append bottom
  //script(src='/public/javascripts/index.js')
block header
  include ../header
block content
  .content_block
    img.banner(src='/public/images/cimg2.jpg')
    p.content-title 员工守则
    p.content-title 乘风远航 勇攀新高
    .content-text.column1
      p.indent0 员工必须严格遵守公司各项规章制度，服从上级指挥。今天小编为你整理了公司员工工作制度，希望对你有用。
      p.indent1.bold.bigger 公司员工工作守则篇1
      p.indent2 第一条 本公司员工均应遵守下列规定：
      p.indent3 (一)准时上下班，对所担负的工作争取时效，不拖延、不积压
      p.indent3 (二)服从上级指挥，如有不同意见，应婉转相告或以书面陈述，一经上级主管决定，应立即遵照执行。
      p.indent3 (三)尽忠职守，保守业务上的秘密。
      p.indent3 (四)爱护公司财物，不浪费，不化公为私。
      p.indent3 (五)遵守公司一切规章及工作守则。
      p.indent3 (六)保持公司信誉，不作任何有损公司信誉的行为。
      p.indent3 (七)注意本身品德修养，切戒不良嗜好。
      p.indent3 (八)待人接物要态度谦和，以争取同仁及客户的合作。
      p.indent3 (九)严谨操守，严于律已。
      p.indent3 (十)全休员工必须时常锻炼自己的工作技能，达到工作上精益求精，以期能提高工作效率。
      p.indent3 (十一)应通力合作，同舟共济，不得吵闹、斗殴、搭讪攀谈或互为聊天闲谈，或搬弄是非，扰乱秩序。
      p.indent2 第二条 本公司员工上下班均应按规定打卡。打卡均应亲自为之，不得托人代为打卡或代人打卡。违者依本规则的规定论处。
      p.indent2 第三条 本公司员工除规定的放假日及因公出差或因故与其他正当事由外，均应按照规定时间上下班，不得任意迟到或早退。
      p.indent2 第四条 各级员工每日应办事务必须当日办清，如不能于办公时间内办妥应加班赶办。加班发给加班费，其标准另定。
      p.indent2 第五条 各级主管就其监督范围以内所发命令，其属下员工有服从的义务，但对其命令有意见可随时陈述。
      p.indent2 第六条 各级员工对于两级主管同时所发命令或指挥，以直接主管的命令为准。
      p.indent2 第七条 本公司员工不得有下列行为
      p.indent3 (一)除办理本公司业务外，不得对外擅用本公司名义。
      p.indent3 (二)对于本公司机密无论是否经管，均不得泄漏。
      p.indent3 (三)未奉核准不得擅离职守。
      p.indent3 (四)非因职务的需要不得动用公物或支用公-款。
      p.indent3 (五)对所保管的文书财物及一切公物应尽妥善保管之责，不得私自携出或出借。
      p.indent3 (六)不得私自经营与本公司业务类似的商业或兼任本公司以外职务。
      p.indent3 (七)不得任意翻阅不属自己负责的文件、帐簿表册或函件。
      p.indent1.bold.bigger 公司员工工作规范
      p.indent2 一、办公室
      p.indent3 1. 办公室应保持整洁、美观、不允许有明显的灰尘和脏迹。
      p.indent3 2. 办公室桌面应保持各种资料、文具整齐、下班前必须整理桌面。
      p.indent3 3. 非办公用品不允许放在办公室。
      p.indent3 4. 任何时候，不允许在办公室吸烟、玩游戏、赌博、吃饭或进行其它违法活动。中午无特殊原因(包括陪同客户用餐)不允许喝酒，以免影响下午工作。
      p.indent3 5. 上班时间不允许在办公室聊天、串门。
      p.indent3 6. 上班时，非工作需要不要离开办公室。
      p.indent3 7. 上班时间禁止看小说、与业务无关的报刊、杂志、书籍等。
      p.indent3 8. 如工作任务已完成，应主动告知上级主管，请求分配新任务。在未接到新任务时，应抓紧时间学习专业知识。
      p.indent3 9. 保证工作信息及时、准确，沟通畅通。


block footer
  include ../footer