extends ../layout

append head
  link(rel='stylesheet', href='/public/stylesheets/header.css')
  link(rel='stylesheet', href='/public/stylesheets/footer.css')
  link(rel='stylesheet', href='/public/stylesheets/common.css')
append bottom
  //script(src='/public/javascripts/index.js')
block header
  include ../header
block content
  .content_block
    img.banner(src='/public/images/yuangongshouzhe@2x.jpg')
    br
    .content-text.column1
      img(src="/public/images/rules.png" style="width:100%")


block footer
  include ../footer