.content_block{
  width: 70vw;
  margin: 1rem auto;
  padding: 3% 5%;
  opacity: 0.8;
  background: #F2F2F2;
  border-radius: 2px;
}

.content_block{
  .banner{
    width: 100%;
  }
  .content-text{
    margin-top: 3%;
    column-count: 2;
    column-gap: 5rem;
    p{
      font-size: 1.1rem;
      color: #282E34;
      line-height: 2;
      text-align: justify;
      text-indent: 2.2rem;
      margin: 0;
    }
  }
  .content-title{
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 3%;
    img,p{
      display: inline-block;
      vertical-align: middle;
    }
    img{
      margin-right: 2rem;
      width: 10rem;
    }
  }
  .content-inscribe{
    text-align: right;
    font-weight: bold;
    font-size: 1.2rem;
  }

  .content-header-intro{
    margin-top: 3%;
    img,p{
      display: inline-block;
      vertical-align: middle;
    }
    img{
      margin-right: 2rem;
      width: 15%;
    }
    p{
      width: 80%;
      font-weight: bold;
      font-size: 1.5rem;
      line-height: 2;
      span{
        font-weight: normal;
        font-size: 1.1rem;
        display: block;
        line-height: 1.6;
        color: #282E34;
        column-count: 2;
        column-gap: 3rem;
      }

    }
  }
}