.footer{
  width: 80%;
  align-self: center; //本身的对齐方式
  margin-top: 1rem;
  border-top:.3rem solid #00AAE7;
  border-bottom:.3rem solid #00AAE7;
  background-color: #003C82;
  color:#fff;
  padding: 1rem 10%;

  &>.intro{
    line-height: 2.5;
    font-weight: 300;
    width: 33%;
    float: left;
  }
  &>.contact{
    float: left;
    margin-left: 5%;
    width: 33%;
    h3{
      line-height: 2.5;
    }
    .icon{
      color: #47a4de;
      font-size: 2rem;
      margin-right: 2rem;
    }
    .phone>span{
      color: white;
      font-weight: 900;
      font-size: 2.5rem;
    }
  }
}
.backnumb{
  font-size: 1.25rem;
  text-align: center;
  line-height: 2.5;
}