body{
  display: flex;
  flex-direction: column;

  .header{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 0;

    // 顶部logo部分
    &>.logo{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      width: 80%;
      margin: auto;
      overflow: hidden;
      font-size: 1.2rem;
      font-weight: 500;

      .logo,.branches{
        align-self: center;
        float: left;
        list-style: none;

        &.branches{
          margin-left: 1rem;
          a{
            text-decoration: none;
            color: #003C82;
          }
        }
        &.logo{
          height: 3.5rem;
        }
      }
    }

    // 导航菜单部分
    &>.nav{
      display: flex;
      justify-content: space-between;
      width: 80%;
      list-style: none;
      align-self: center; //本身的对齐方式
      align-items: center; // 子元素的对齐方式
      margin-top: 2.5rem;

      li{
        flex-direction: row;
        &.item{
          font-size:1rem;
          color: #003C82;
          font-weight:500;
          width: 7rem;
        }
        &.searchBox{
          position: relative;
          flex-direction: row;
          justify-content: flex-end;
          flex-grow: 5;
          display: flex;
          input{
            float: right;
            outline: none;
            border-radius: 1rem;
            padding: .25rem 1rem;
            width: 35%;
            border: 1px solid grey;
            color: #2889da
          }
          .searchBtn{
            align-self: center;
            position: absolute;
            height: 1rem;
            right: 0.5rem;
            border-radius: .1rem;
            width: 1rem;
            display: inline-block;
            background-image: url(/public/images/search@2x.png);
            background-size: contain;
          }
          .phoneNumber{
            position: absolute;
            width: 35%;
            height: 1.5rem;
            top:-2.5rem;
            background: url(/public/images/phone1@2x.png) no-repeat;
            background-size: contain;
            padding: .25rem 1rem;

          }
        }
      }
    }

    // 导航菜单详细列表部分
    &>.navDetail{
      display: flex;
      justify-content: space-between;
      width: 80%;
      list-style: none;
      align-self: center; //本身的对齐方式
      align-items: flex-start; // 子元素的对齐方式
      margin-top: 1rem;
      border-top:.3rem solid #00AAE7;
      border-bottom:.3rem solid #00AAE7;
      background-color: #003C82;
      color:#fff;
      padding: 1rem 10%;
      .column{
        list-style: none;
        width: 7rem;
        .item{
          padding: 1rem 0;
          font-weight: 100;
        }
      }
      .padding{
          flex-grow: 5;
      }
    }
  }
}
