.carousel_frame{
  width: 80vw;
  height: 30vw;
  margin: 1.5rem auto 2rem;
  overflow: hidden;
  position: relative;
  .pice{
    transition: 1.2s ease all;
    width: 100%;
    position: absolute;
    height: 100%;
    background-size: cover;
    background-position: center;
    .text{
      margin-top: 16vw;
      margin-left: 7vw;
      float: left;
      .title{
        font-size: 3.5rem;
        color: #fff;
      }
      .subtitle{
        font-size: 2rem;
        color: #fff;
      }
    }
  }
  .controller{
    color: #fff;
    position: absolute;
    cursor: pointer;
    top: 50%;
    transform: translateY(-60%) scaleX(.5);
    font-size: 5rem;
    font-weight: 300;
    transform-origin: center;
    transition: .3s ease all;
    &:hover{
      transform: translateY(-60%) scale(.75,1.5);
    }
    &:active{
      transform: translateY(-60%) scaleX(.5);
    }
    &.left{
     left:1rem
    }
    &.right{
      right: 1rem;
    }
  }
}

.news_frame{
  display: flex;
  justify-content: space-between;
  height: 25rem;
  margin: 2rem auto;
  width: 80vw;
  overflow: hidden;
  .news_carousel{
    width: 55%;
    position: relative;
    overflow: hidden;
    .pice{
      transition: .5s ease all;
      width: 100%;
      height: 100%;
      position: absolute;
      background-size: cover;
      background-position: center;
      .bottom-text{
        height: 3rem;
        background: rgba(0,170,231,0.60);
        color: #fff;
        line-height: 3rem;
        text-align: center;
        bottom: 0;
        position: absolute;
        width: 100%;
      }
    }
  }
  .news_list{
    width: 40%;
    display: flex;
    flex-direction: column;
    .header{
      display: block;
      //overflow: hidden;
      .h3,.h5{
        display: inline-block;
      }
      .h3{
        float: left;
        font-size: 1.25rem;
        font-weight: 500;
        color: #003C82;
      }
      .h5{
        float: right;
        font-size: 1rem;
        font-weight: 100;
        color:#00AAE7;
      }
    }
    .list{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: 1rem;
      list-style: none;
      height: 40vw;
      .item{
        border-top: 1px solid #D8D8D8;
        height: 20%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        a{
          font-size: 1.15rem;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      .item:nth-child(1){
        border-top: 2px solid #00AAE7;
      }
      .item:hover{
        color: #00AAE7;
      }
    }
  }
}

.intro_frame{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  overflow: hidden;
  width: 80vw;
  margin: 2rem auto;
  .card{
    flex-basis: 22%;
    height: 28em;
    background: #FFFFFF;

    border: 1px solid #A0C7D6;
    box-shadow: 0 0 8px 0 rgba(147,194,236,0.50);
    border-radius: 2px;
    transition:all .3s ease;
    position: relative;
    &:hover{
      border: 1px solid #0AC7D6;
      box-shadow: 0 0 10px 0 #93C2E7;
      .plus{
        background: #00AAE7;
        color:#FFFFFF;
        border:1px solid #00AAE7;
      }
      .head{
        transform: scale(.95);
      }
    }
    .head{
      height: 14em;
      width: 100%;
      background-size: cover;
      background-position: center;
      transition: all .4s ease;
    }
    .title{
      padding: 1.5rem 1rem;
      color: #003C82;
      font-weight: 500;
      font-size: 1.2rem;
    }
    .intro{
      padding: 0 1rem;
      font-size: 1rem;
      color: #4A4A4A;
      line-height: 2;
    }
    .plus{
      position: absolute;
      right: 1rem;
      bottom: 1rem;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 1.5rem;
      background: #FFFFFF;
      color:#003C82;
      font-size: 1.5rem;
      border:1px solid;
      display: flex;
      justify-content: center;
      align-items: center;
      transition:all .3s ease;
      line-height: 1.5rem;
      &:after{
        content: '+';
      }
    }
  }
}

.pictures_frame{
  width: 80vw;
  height:20vw;
  margin: 2rem auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  .pic{
    position: relative;
    flex-basis: 30%;
    height: 100%;
    background-size: cover;
    .title{
      width: 100%;
      height: 3rem;
      line-height: 3rem;
      overflow: hidden;
      position: absolute;
      bottom: 0;
      color: #FFFFFF;
      font-size: 1.2rem;
      font-weight: 500;
      background: #00AAE7;
      transition:all .3s ease;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(0,170,231,0.80);
    }
    &:hover{
      .title{
        height: 4rem;
        line-height: 4rem;
      }
    }
  }
}