.carousel_frame {
  width: 80vw;
  height: 40vw;
  border: 1px solid grey;
  margin: 2rem auto; }

.news_frame {
  display: flex;
  justify-content: space-between;
  height: 25rem;
  margin: 2rem auto;
  width: 80vw; }
  .news_frame .news_carousel {
    width: 55%;
    border: 1px solid grey; }
  .news_frame .news_list {
    width: 40%;
    display: flex;
    flex-direction: column; }
    .news_frame .news_list .header {
      display: block;
      overflow: hidden; }
      .news_frame .news_list .header .h3, .news_frame .news_list .header .h5 {
        display: inline-block; }
      .news_frame .news_list .header .h3 {
        float: left;
        font-size: 1.25rem;
        font-weight: 500;
        color: #003C82; }
      .news_frame .news_list .header .h5 {
        float: right;
        font-size: 1rem;
        font-weight: 100;
        color: #00AAE7; }
    .news_frame .news_list .list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: 1rem;
      list-style: none;
      height: 40vw; }
      .news_frame .news_list .list .item {
        border-top: 1px solid #D8D8D8;
        height: 20%;
        display: flex;
        justify-content: center;
        flex-direction: column; }
      .news_frame .news_list .list .item:nth-child(1) {
        border-top: 2px solid #00AAE7; }
      .news_frame .news_list .list .item:hover {
        color: #00AAE7; }

.intro_frame {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  overflow: hidden;
  width: 80vw;
  margin: 2rem auto; }
  .intro_frame .card {
    flex-basis: 22%;
    height: 28em;
    background: #FFFFFF;
    border: 1px solid #A0C7D6;
    box-shadow: 0 0 8px 0 rgba(147, 194, 236, 0.5);
    border-radius: 2px;
    transition: all .3s ease;
    position: relative; }
    .intro_frame .card:hover {
      border: 1px solid #0AC7D6;
      box-shadow: 0 0 10px 0 #93C2E7; }
      .intro_frame .card:hover .plus {
        background: #93C2E7;
        color: #FFFFFF;
        border: 1px solid #93C2E7; }
    .intro_frame .card .head {
      height: 14em;
      width: 100%; }
    .intro_frame .card .title {
      padding: 1.5rem 1rem;
      color: #003C82;
      font-weight: 500;
      font-size: 1.2rem; }
    .intro_frame .card .intro {
      padding: 0 1rem;
      font-weight: 100;
      font-size: 1rem;
      color: #4A4A4A;
      line-height: 2; }
    .intro_frame .card .plus {
      position: absolute;
      right: 1rem;
      bottom: 1rem;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 1.5rem;
      background: #FFFFFF;
      color: #003C82;
      font-size: 1.5rem;
      border: 1px solid;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all .3s ease;
      line-height: 1.5rem; }
      .intro_frame .card .plus:after {
        content: '+'; }

.pictures_frame {
  width: 80vw;
  height: 20vw;
  margin: 2rem auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }
  .pictures_frame .pic {
    position: relative;
    flex-basis: 30%;
    height: 100%;
    background-size: cover; }
    .pictures_frame .pic .title {
      width: 100%;
      height: 0;
      overflow: hidden;
      position: absolute;
      bottom: 0;
      color: #FFFFFF;
      font-size: 1.2rem;
      font-weight: 500;
      background: #00AAE7;
      transition: all .3s ease;
      opacity: 0;
      display: flex;
      justify-content: center;
      align-items: center; }
    .pictures_frame .pic:hover .title {
      height: 3rem;
      opacity: 1; }

/*# sourceMappingURL=index.css.map */
