extends ../layout

append head
  link(rel='stylesheet', href='/public/stylesheets/header.css')
  link(rel='stylesheet', href='/public/stylesheets/footer.css')
  link(rel='stylesheet', href='/public/stylesheets/common.css')
append bottom
  script(src='/public/javascripts/modal.js')
block header
  include ../header
block content
  .content_block
    .content-text.column1
block footer
  include ../footer