extends ../layout

append head
  link(rel='stylesheet', href='/public/stylesheets/header.css')
  link(rel='stylesheet', href='/public/stylesheets/footer.css')
  link(rel='stylesheet', href='/public/stylesheets/common.css')
append bottom
  script(src='/public/javascripts/modal.js')
block header
  include ../header
block content
  .content_block
    .content-text.column1
      a(href="#")
        p.news-title 01.面对逆境，华电福新的建设者们没有退缩、没有胆怯、没有气馁，大家都应勇敢直面困难。
      a(href="#")
        p.news-title 02.面对逆境，华电福新的建设者们没有退缩、没有胆怯、没有气馁。
      a(href="#")
        p.news-title 03.面对逆境，华电福新的建设者们没有退缩、没有胆怯、没有气馁。
      a(href="#")
        p.news-title 04.面对逆境，华电福新的建设者们没有退缩、没有胆怯、没有气馁，大家都应勇敢直面困难。
      a(href="#")
        p.news-title 05.面对逆境，华电福新的建设者们没有退缩、没有胆怯、没有气馁。
      a(href="#")
        p.news-title 06.面对逆境，华电福新的建设者们没有退缩、没有胆怯、没有气馁。
      a(href="#")
        p.news-title 07.面对逆境，华电福新的建设者们没有退缩、没有胆怯、没有气馁，大家都应勇敢直面困难。
      a(href="#")
        p.news-title 08.面对逆境，华电福新的建设者们没有退缩、没有胆怯、没有气馁。
      a(href="#")
        p.news-title 09.面对逆境，华电福新的建设者们没有退缩、没有胆怯、没有气馁。
block footer
  include ../footer