extends ../layout

append head
  link(rel='stylesheet', href='/public/stylesheets/header.css')
  link(rel='stylesheet', href='/public/stylesheets/footer.css')
  link(rel='stylesheet', href='/public/stylesheets/common.css')
append bottom
  //script(src='/public/javascripts/index.js')
block header
  include ../header
block content
  .content_block
    img.banner(src='/public/images/about@2x.jpg')
    p.content-title 公司简介
    .content-text
      p 湖南华电郴州风力发电有限公司于2009年6月11日注册成立，是湖南省首家建设投产的风力发电公司。
      p 目前，郴州公司、太平里公司、油麻公司三个项目公司实行“一套人马，多块牌子”的管理模式。公司领导班子共4人，设有公司总经理兼党支部书记1人、副总经理3人。下设综合管理部、工程技术部、财务资产部、生产运营部和计划发展部5个职能部室。
      p 公司除风电之外，以国家的产业政策和可再生能源发展规划为指导，以认真履行“经济责任、政治责任、社会责任”为己任，致力于建设分布式能源、太阳能、生物质发电等新兴能源多元化的、具有特色的国内一流新能源公司，为社会奉献更多的清洁能源公司。

block footer
  include ../footer