extends ../layout

append head
  link(rel='stylesheet', href='/public/stylesheets/header.css')
  link(rel='stylesheet', href='/public/stylesheets/footer.css')
  link(rel='stylesheet', href='/public/stylesheets/common.css')
append bottom
  //script(src='/public/javascripts/index.js')
block header
  include ../header
block content
  .content_block
    img.banner(src='/public/images/yewufenbu@2x.jpg')
    .content-text.column1
      p 公司仰天湖36.3MW风电项目于2008年8月通过湖南省发展和改革委员会核准批复，2010年1月3日投产；湖南华电福新太平里风力发电有限公司系华电福新能源股份有限公司独资企业，于2013年9月3日正式注册成立。太平里49.5MW一期工程风电项目，于2011年9月7日通过湖南省发展和改革委员会核准批复，于2014年2月18日开工建设,于2015年7月10日投产。二期白石渡49.5MW工程风电项目，已于2015年11月18日开工建设，计划2017年全面投产；湖南华电福新油麻风力发电有限公司于2015年12月24日注册成立，是中国华电集团福新能源股份有限公司全资企业，油麻46MW风电场项目位于永兴县油麻镇原油麻乡和三塘乡境内，郴州市永兴县油麻乡境内所在山脊及东面山脉。于2015年8月5日已取得湖南省永兴县发改委核准批复，于2015年12月开工建设，计划2017年投产。
block footer
  include ../footer