extends ../layout

append head
  link(rel='stylesheet', href='/public/stylesheets/header.css')
  link(rel='stylesheet', href='/public/stylesheets/footer.css')
  link(rel='stylesheet', href='/public/stylesheets/common.css')
append bottom
  //script(src='/public/javascripts/index.js')
block header
  include ../header
block content
  .content_block
    img.banner(src='/public/images/banner-distribute.jpg')
    .content-text
      p 好事自古多磨难,功成由来最劳心。面对逆境，华电福新的建设者们没有退缩、没有胆怯、没有气馁，大家都应勇敢直面困难，用它来磨炼自己奋飞的翅膀，仅风资源复核就历时两年。测风阶段和核算阶段在规划范围内建立了4座测风塔，主机厂家、设计院、专业评估公司均参与复核，立项阶段通过福新公司和集团公司相关部门的实地考察和反复核算。另外，受山地走势限制，场内检修道路、场外改造道路、集电线路均较长，再加上武广高铁、京广铁路、京珠高速公路、厦蓉高速公路、国道，以及高压线等穿过场区，又有大量的采石场、居民区和牧场等星罗棋布，大大增大了设计、施工及工程管理难度。为了降低工程造价，工程设计人员从优化设计入手，经过设计院两次变更场内建修道路结合地形、风机的排布、设备运输及吊装方案，使其尽量短、窄，道路设计概算大幅降低。由于平台土石方量大的特点，将平台面积尺寸由40×50米优化至30×40米。升压站以典设为基础，站区面积由9600平方米优化至5900平方米，SVG由室内改为集装箱形式，提高升压站标高减少土方量，优化建筑物面积，并对集电线路路径和线径进行了专项优化。公司的拓荒者们高歌“红军不怕远征难，万水千山只等闲。五岭逶迤腾细浪，乌蒙磅礴走泥丸......”的壮丽诗篇，克服重重困难，逆流而上，展露雄心，激扬壮志，显现本色，以自己的睿智拿出一个又一个科学合理的方案，将所有难题得到圆满解决。
      p 太平里风电项目建设之难还难在征地工作。由于项目建设区域多为山地丘陵地带，人多地少，又是国家生态公益林地区，涉及到政策因素和老百姓的土地纠纷等重重矛盾，征地工作开展相当困难。再加上有的大件设备运输要经过当地群众聚集区，工作的难度极大。
      p 沧海横流方显英雄本色，怕难就不是华电福新人！公司紧紧依靠宜章县委、县人民政府和五岭镇、白石渡镇、杨梅山镇党委、政府，联络协调县国土资源局、林业局、公安局等部门服务，深入村组农户家中了解民风民情，通过依法依规执行政策，互利互惠赢得支持，倒排工期充分策划，多办好事建立互信，确定补偿主动落实，恢复植被注重环保，打击违法维护环境等等，感情理顺了、纠纷调解了、补偿到位了、形象展示了、威信树立了，征地工作高效完成了，阻工减少发生了，风电项目按计划实施也得到有效保证了。
      p 太平里风电项目建设之难还难在征地工作。由于项目建设区域多为山地丘陵地带，人多地少，又是国家生态公益林地区，涉及到政策因素和老百姓的土地纠纷等重重矛盾，征地工作开展相当困难。再加上有的大件设备运输要经过当地群众聚集区，工作的难度极大。
      p 沧海横流方显英雄本色，怕难就不是华电福新人！公司紧紧依靠宜章县委、县人民政府和五岭镇、白石渡镇、杨梅山镇党委、政府，联络协调县国土资源局、林业局、公安局等部门服务，深入村组农户家中了解民风民情，通过依法依规执行政策，互利互惠赢得支持，倒排工期充分策划，多办好事建立互信，确定补偿主动落实，恢复植被注重环保，打击违法维护环境等等，感情理顺了、纠纷调解了、补偿到位了、形象展示了、威信树立了，征地工作高效完成了，阻工减少发生了，风电项目按计划实施也得到有效保证了。
block footer
  include ../footer