extends ../layout

append head
  link(rel='stylesheet', href='/public/stylesheets/header.css')
  link(rel='stylesheet', href='/public/stylesheets/footer.css')
  link(rel='stylesheet', href='/public/stylesheets/common.css')
append bottom
  //script(src='/public/javascripts/index.js')
block header
  include ../header
block content
  .content_block.relationship
    .content-header-intro
      img(src='/public/images/leaders/img01@2x.jpg')
      p 总经理：关然

    .content-header-intro
      img(src='/public/images/leaders/img02@2x.jpg')
      p 副总经理：王新

    .content-header-intro
      img(src='/public/images/leaders/img03@2x.jpg')
      p 副总经理：胡健

    .content-header-intro
      img(src='/public/images/leaders/img04@2x.jpg')
      p 副总经理：徐志杰

block footer
  include ../footer