extends ../layout

append head
  link(rel='stylesheet', href='/public/stylesheets/header.css')
  link(rel='stylesheet', href='/public/stylesheets/footer.css')
  link(rel='stylesheet', href='/public/stylesheets/common.css')
append bottom
  //script(src='/public/javascripts/index.js')
block header
  include ../header
block content
  .content_block
    .content-header-intro
      img(src='/public/images/head.png')
      p 总经理：关然
        span.intro 湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司

    .content-header-intro
      img(src='/public/images/head2.png')
      p 副总经理：王新
        span.intro 湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司

    .content-header-intro
      img(src='/public/images/head3.png')
      p 副总经理：王新
        span.intro 湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司

    .content-header-intro
      img(src='/public/images/head4.png')
      p 副总经理：王新
        span.intro 湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司湖南华电郴州发电有限公司

block footer
  include ../footer