extends ../layout

append head
  link(rel='stylesheet', href='/public/stylesheets/header.css')
  link(rel='stylesheet', href='/public/stylesheets/footer.css')
  link(rel='stylesheet', href='/public/stylesheets/common.css')
append bottom
  //script(src='/public/javascripts/index.js')
block header
  include ../header
block content
  .content_block
    .content-title
      img(src='/public/images/leaders/img01@2x.jpg')
      p 湖南华电郴州发电有限公司<br>总经理：关然

    .content-text
      p 湖南华电郴州风力发电有限公司作为湖南首家风力发电企业，带动了湖南绿色清洁能源产业，拥有难得的机遇和发展空间，但同时也面对很多挑战。
      p 好事自古多磨难,功成由来最劳心。湖南华电郴州风力发电有限公司在建设过程中面对逆境，没有退缩、没有胆怯、没有气馁，大家都应勇敢直面困难，用它来磨炼自己奋飞的翅膀，仅风资源复核就历时两年。测风阶段和核算阶段在规划范围内建立了4座测风塔，主机厂家、设计院、专业评估公司均参与复核，立项阶段通过集团公司相关部门的实地考察和反复核算。另外，受山地走势限制，场内检修道路、场外改造道路、集电线路均较长，再加上武广高铁、京广铁路、京珠高速公路、厦蓉高速公路、国道，以及高压线等穿过场区，又有大量的采石场、居民区和牧场等星罗棋布，大大增大了设计、施工及工程管理难度。公司的拓荒者们高歌“红军不怕远征难，万水千山只等闲。五岭逶迤腾细浪，乌蒙磅礴走泥丸”的壮丽诗篇，克服重重困难，逆流而上，展露雄心，激扬壮志，显现本色，以自己的睿智拿出一个又一个科学合理的方案，将所有难题得到圆满解决。
      p 沧海横流方显英雄本色，怕难就不是华电人！公司紧紧依靠宜章县委、县人民政府和五岭镇、白石渡镇、杨梅山镇党委、政府，联络协调县国土资源局、林业局、公安局等部门服务，深入村组农户家中了解民风民情，通过依法依规执行政策，互利互惠赢得支持，倒排工期充分策划，多办好事建立互信，确定补偿主动落实，恢复植被注重环保，打击违法维护环境等等，使得公司风电项目按计划实施也得到有效保证！
      p 湖南华电郴州风力发电有限公司作为一个年轻的公司，未来将继续勇往直前，开拓创新，为湖南省绿色清洁能源建设做出应有的贡献！
      p &nbsp;
      p &nbsp;
      p &nbsp;
      p &nbsp;
      p &nbsp;
      p &nbsp;

    .content-inscribe 2017年7月
block footer
  include ../footer