extends ../layout

append head
  link(rel='stylesheet', href='/public/stylesheets/header.css')
  link(rel='stylesheet', href='/public/stylesheets/footer.css')
  link(rel='stylesheet', href='/public/stylesheets/common.css')
append bottom
  //script(src='/public/javascripts/index.js')
block header
  include ../header
block content
  .content_block
    img.banner(src='/public/images/rencaizhaopin@2x.jpg')
    .content-text.flex
      .block
        //p 岗位职责：
        //p 1、按照有关制度和规范的要求，协助完成代码的编写工作
        //p 2、对开发任务、需求理解透彻，积极配合测试团队开展集成测试工作；
        //p 3、按照有关制度和规范的要求，参与项目和产品的详细设计工作；
        //p 4、与同事之间进行技术交流，知识共享。
        //p 欢迎各位应届毕业生前来应聘！
        //p 福利待遇：
        //p 1、【薪资】转正6-1W，一年后年薪10-15万。
        //p 2、【保险】五险一金
        //p 3、【涨薪与发展】年底2-6月奖金，并每年两次调薪。
        //p 4、【其他福利】定期体检，月度聚餐，节日旅游，生日奖
        //p 5、【工作时间】五天工作制，早9点-晚18：00，周末双休！
        //p 年龄20-30岁，男女不限，不符合条件者请勿投递简历
      .block
        //p 岗位职责：
        //p 1、按照有关制度和规范的要求，协助完成代码的编写工作
        //p 2、对开发任务、需求理解透彻，积极配合测试团队开展集成测试工作；
        //p 3、按照有关制度和规范的要求，参与项目和产品的详细设计工作；
        //p 4、与同事之间进行技术交流，知识共享。
        //p 欢迎各位应届毕业生前来应聘！
        //p 福利待遇：
        //p 1、【薪资】转正6-1W，一年后年薪10-15万。
        //p 2、【保险】五险一金
        //p 3、【涨薪与发展】年底2-6月奖金，并每年两次调薪。
        //p 4、【其他福利】定期体检，月度聚餐，节日旅游，生日奖
        //p 5、【工作时间】五天工作制，早9点-晚18：00，周末双休！
        //p 年龄20-30岁，男女不限，不符合条件者请勿投递简历



block footer
  include ../footer