extends ../layout

append head
  link(rel='stylesheet', href='/public/stylesheets/header.css')
  link(rel='stylesheet', href='/public/stylesheets/footer.css')
  link(rel='stylesheet', href='/public/stylesheets/common.css')
append bottom
  //script(src='/public/javascripts/index.js')
block header
  include ../header
block content
  .content_block
    img.banner(src='/public/images/Group 4.png')
    .content-text
      //p 作为中国制造业转型升级的引领者，中联重科积极响应国家“一带一路”战略，高度重视人才培养，在与湖南大学EDP中心成功合作举办第一期培训班的基础上，中联重科第二期湖南大学EDP研修班于2017年7月21日在湖南大学工商管理学院隆重开班。
      //p 中联重科股份有限公司党委副书记、纪委书记、督察部部长王旭虹，中联重科股份有限公司人力资源总监、中联管理学院院长高辉，中联重科股份有限公司人力资源管理中心副主任陈政，湖南大学工商管理学院党委书记刘泽亮，湖南大学工商管理学院院长助理、EMBA/EDP中心主任李平，湖南大学工商管理学院EDP培训中心副班主任黄亚婷以及50余名学员共同出席了此次开班仪式。仪式由班主任陆艳兰主持。
      //p 作为中国制造业转型升级的引领者，中联重科积极响应国家“一带一路”战略，高度重视人才培养，在与湖南大学EDP中心成功合作举办第一期培训班的基础上，中联重科第二期湖南大学EDP研修班于2017年7月21日在湖南大学工商管理学院隆重开班。
      //p 中联重科股份有限公司党委副书记、纪委书记、督察部部长王旭虹，中联重科股份有限公司人力资源总监、中联管理学院院长高辉，中联重科股份有限公司人力资源管理中心副主任陈政，湖南大学工商管理学院党委书记刘泽亮，湖南大学工商管理学院院长助理、EMBA/EDP中心主任李平，湖南大学工商管理学院EDP培训中心副班主任黄亚婷以及50余名学员共同出席了此次开班仪式。仪式由班主任陆艳兰主持。
block footer
  include ../footer